.pink-div {
    border: 2px solid black;
    background-color: antiquewhite;
}

.black-tr {
    border: 2px saddlebrown;
    background-color: rgb(255, 123, 0);
}

.full{
    background-color: rgba(255, 183, 0, 0.577);
}